.searchItem {
  background-color: var(--background-200);
  border-radius: var(--border-radius-sm);
  color: var(--text-100);
  padding: 1.25rem;

  display: flex;
  justify-content: center;

  min-height: 19.5rem;
  overflow: hidden;

  gap: 2rem;
  transition: var(--transition-all);

  &:hover {
    background-color: var(--background-100);
    color: var(--text-300);
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.posterContainer {
  flex: 1 0 12rem;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.title {
  font-size: 2.8rem;
}

.genres {
  margin-left: 2rem;
}

.movieTypes {
  font-size: 1.5rem;
}

.description {
  font-size: 1.4rem;

  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
