.modeContainer {
  position: relative;

  min-height: 3rem;
  min-width: 3rem;
  overflow: hidden;
}

.modeContainer div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sunIcon,
.moonIcon {
  cursor: pointer;

  transition: var(--transition-all);

  position: absolute;
  width: 3rem;
  height: 3rem;
}

.sunIcon {
  color: var(--accent-100);
}

.moonIcon {
  color: var(--background-300);
}

@media only screen and (max-width: 75em) {
  .modeContainer {
    min-height: 4rem;
    min-width: 4rem;
  }

  .modeContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sunIcon,
  .moonIcon {
    width: 4rem;
    height: 4rem;
  }
}
