.sidebar {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  gap: 2rem;
}

.filter_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter_name {
  font-size: 1.6rem;
}

.watchProviders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;

  margin-top: 1rem;
}

.filter_children {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.filter_genres {
  display: grid;
  grid-template-columns: repeat(2, max-content);

  align-items: center;
  align-content: center;

  row-gap: 0.75rem;
  column-gap: 0.5rem;
}

.filter_genresTv {
  display: flex;
  flex-wrap: wrap;

  row-gap: 0.75rem;
  column-gap: 0.5rem;
}

@media only screen and (max-width: 40.9375em) {
  .filter_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .filter_name {
    font-size: 2rem;
  }

  .filter_children {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .watchProviders {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.5rem, 8rem));

    justify-content: center;

    gap: 1rem;

    margin-top: 1rem;
  }

  .filter_genres {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 15rem));
    justify-content: center;

    align-items: center;
    align-content: center;

    row-gap: 0.75rem;
    column-gap: 0.5rem;
  }
}
