.socialMedias {
  display: flex;
  justify-content: center;

  gap: 2rem;
}

.socialMedia:link,
.socialMedia:visited {
  color: var(--text-100);
  display: inline-block;

  transition: var(--transition-all);
}

.socialMedia:hover,
.socialMedia:active {
  color: var(--accent-100);
  display: inline-block;
}

.icon {
  width: 3.4rem;
  height: 3.4rem;
}
