.form {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.seasons {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.rows {
  padding-right: 10px;

  overflow: auto;
  max-height: 37.5rem;
}

.rows::-webkit-scrollbar {
  width: 10px;
}

.rows::-webkit-scrollbar-track {
  background-color: var(--background-200);
}

.rows::-webkit-scrollbar-thumb {
  background-color: var(--background-300);
}

@media only screen and (max-width: 35.9375em) {
  .rows {
    max-height: 18rem;
  }
}
