.main {
  display: flex;

  gap: 2.5rem;
}

.form {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.formBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
}

.movieEpisodes {
  flex: 1;
  min-height: 25rem;

  display: flex;
  flex-direction: column;
}

.seasonsRows {
  max-height: 31rem;
  padding-right: 10px;

  overflow: auto;
}

.seasonsRows::-webkit-scrollbar {
  width: 10px;
}

.seasonsRows::-webkit-scrollbar-track {
  background-color: var(--background-200);
}

.seasonsRows::-webkit-scrollbar-thumb {
  background-color: var(--background-300);
}

.episodesRow {
  display: flex;
  flex-direction: column;

  font-size: 2rem;
}

.episodesRow:not(:last-child) {
  margin-bottom: 1rem;
}

.rowHeader {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  background-color: var(--background-200);

  border-bottom: 2px solid var(--background-100);
  cursor: pointer;

  &:hover .iconArrow {
    color: var(--accent-100);
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .icon {
    width: 3rem;
    height: 3rem;

    transition: var(--transition-all);
  }
}

.episodes {
  background-color: var(--background-200);

  display: none;
  padding: 1rem 2rem;
}

.episodesActive {
  display: block;
}

.episodeRow {
  display: flex;
  gap: 2.5rem;

  background-color: var(--background-100);
  padding: 1rem;

  border-radius: var(--border-radius-sm);
}

.episodeImage {
  width: 5rem;
  height: 5rem;
}

.divBox {
  display: flex;
  justify-content: space-between;

  flex: 1;
  font-size: 1.5rem;

  .icon {
    width: 3.2rem;
    height: 3.2rem;
    align-self: center;
    cursor: pointer;

    transition: var(--transition-all);
  }
}

.episodeInformations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconCheck:hover {
  color: var(--accent-100);
}

.imageBox {
  flex: 0 0 25rem;
}

.image {
  width: auto;
}
