.link {
  position: relative;
  display: flex;

  padding-left: 9rem;
}

.numberBox {
  font-weight: 400;
  font-family: var(--font-lato);

  color: var(--background-300);

  font-size: 19.2rem;
  line-height: 100%;
  letter-spacing: -4px;
  bottom: 20px;
  left: -10px;
  pointer-events: none;

  position: absolute;
}

.movieBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: var(--border-radius-sm);
  width: 100%;
  min-height: 35rem;

  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.movieBox:hover .movieOptions {
  opacity: 1;
  pointer-events: all;
}

.movieOptions {
  opacity: 0;
  pointer-events: none;

  background-color: var(--background-opacity-50-100);
  padding: 0.25rem 1rem;
  text-align: end;

  transition: var(--transition-all);

  svg {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--accent-100);

    transition: var(--transition-all);

    &:hover {
      color: var(--accent-200);
    }
  }
}
