.filters {
  display: flex;
  gap: 2.5rem;

  padding: 0 2.5rem;
}

.filter {
  position: absolute;
  top: 110%;
  left: 0;

  z-index: 1000;

  padding: 1rem 2rem;
  border-radius: var(--border-radius-tiny);

  background-color: var(--background-200);

  max-height: 32rem;
  min-width: 44rem;
}
