.filters {
  display: flex;
  gap: 2.5rem;

  padding: 0 2.5rem;
}

.filter {
  position: absolute;
  top: 110%;
  left: 0;

  z-index: 1000;

  padding: 1rem 2rem;
  border-radius: var(--border-radius-tiny);

  background-color: var(--background-200);

  max-height: 32rem;
  min-width: 44rem;
}

@media only screen and (max-width: 67.8125em) {
  .filters {
    justify-content: center;
    align-items: center;
  }

  .filter {
    left: 50%;

    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 46.875em) {
  .filters {
    flex-direction: column;
    margin: 0 auto;
    max-width: 44rem;
  }

  .filter {
    position: static;

    transform: none;
    min-width: auto;
    padding: 1rem;
  }
}
