.accountProfile {
  position: sticky;

  height: max-content;

  min-width: 35rem;

  padding: 1.5rem;
  border-radius: var(--border-radius-tiny);
  background-color: var(--background-100);

  img {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 67.8125em) {
  .accountProfile {
    min-width: 30rem;
  }
}

@media only screen and (max-width: 55em) {
  .accountProfile {
    max-width: 30rem;
    align-self: center;
  }
}
