.movieContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 22.4rem;

  border-radius: var(--border-radius-sm);

  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  .options {
    opacity: 0;
    pointer-events: none;

    background-color: var(--background-opacity-50-100);
    padding: 0.5rem 1rem;
    text-align: end;

    transition: var(--transition-all);

    svg {
      width: 3rem;
      height: 3rem;
      color: var(--accent-100);

      transition: var(--transition-all);

      &:hover {
        color: var(--accent-200);
      }
    }
  }
  &:hover .options {
    opacity: 1;
    pointer-events: all;
  }
}

.details {
  background-color: var(--background-opacity-50-100);
  padding: 0.5rem 1rem;
}

.detailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
}

.genres {
  display: flex;
  gap: 0.5rem;

  font-size: 1.4rem;
  font-weight: 500;
}

.listMovie {
  min-width: 34rem;
}
