.movieContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 22.4rem;

  border-radius: var(--border-radius-sm);

  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;

  .options {
    opacity: 0;
    pointer-events: none;

    background-color: var(--background-opacity-50-100);
    padding: 0.25rem 0.5rem;
    text-align: end;

    transition: var(--transition-all);

    svg {
      width: 3.2rem;
      height: 3.2rem;
      color: var(--accent-100);

      transition: var(--transition-all);

      &:hover {
        color: var(--accent-200);
      }
    }
  }
  &:hover .options {
    opacity: 1;
    pointer-events: all;
  }
}

.details {
  background-color: var(--background-opacity-50-100);
  padding: 0.5rem 1rem;
}

.detailsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 2.2rem;
  line-height: 1.1;
  font-weight: 600;
}

.genres {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1;

  span {
    text-align: center;
  }
}

.listMovie {
  min-width: 34rem;
}

@media only screen and (max-width: 60.9375em) {
  .movieContainer {
    .options {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

@media only screen and (max-width: 42.5em) {
  .listMovie {
    min-width: 28rem;
  }
}

@media only screen and (max-width: 35.9375em) {
  .listMovie {
    min-width: 80%;
  }
}
