.profileMenu {
  flex-shrink: 0;
  position: relative;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  min-width: max-content;

  padding: 0.5rem;

  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);

  background-color: var(--background-100);
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
