.rating_wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_radio {
  display: none;
}

.star {
  display: flex;
  cursor: pointer;
  font-size: 2.8rem;
}

.user_rating {
  width: 3rem;

  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.85rem;
}
