.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main {
  margin-top: 62px;
}

.container {
  margin: 0 auto 5rem;

  display: flex;
  flex-direction: column;

  gap: 5rem;
}
