.layout {
  display: flex;
  flex-direction: column;

  max-width: 192rem;
  width: 100%;
  min-height: 100dvh;

  position: relative;
}

.main {
  flex: 1;
  position: relative;
}

.container {
  margin: 0 auto;
}
