.overlay {
  min-width: 100%;
  min-height: 100dvh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 10000;

  background-color: var(--background-opacity-75-100);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.modal {
  width: clamp(40rem, 100%, 90rem);
  background-color: var(--background-100);

  position: absolute;
  z-index: 200000;

  cursor: initial;

  padding: 2.5rem;
  border-radius: var(--border-radius-md);

  box-shadow: var(--shadow-md);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin-bottom: 2.5rem;
}

.tabs {
  display: flex;
  gap: 1rem;
}

.btn {
  display: inline-block;
  background: none;
  outline: none;
  border: none;

  padding: 0.75rem 1.5rem;
  width: 20rem;
  font-size: 1.8rem;

  background-color: var(--background-200);
  color: var(--text-200);

  border-radius: var(--border-radius-sm);
  font-weight: 600;

  transition: var(--transition-all);
  box-shadow: var(--shadow-sm);
}

.btn:hover,
.btn:active {
  background-color: var(--background-300);
  color: var(--text-100);
}

.active {
  background-color: var(--accent-100);
  color: var(--background-100);
}

.active:hover,
.active:active {
  background-color: var(--accent-200);
  color: var(--background-100);
}

.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  outline: none;
  border: none;

  border-radius: 50%;

  transition: var(--transition-all);
}

.btnClose:hover {
  color: var(--text-300);
}

.iconClose {
  width: 2.8rem;
  height: 2.8rem;
}

.main {
  display: flex;

  gap: 2.5rem;
}

.imageBox {
  flex: 0 0 25rem;
}

.image {
  width: auto;
}

.movieInformations {
  flex: 1;
  min-height: 25rem;

  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-size: 1.8rem;

  margin-bottom: 2rem;
}

.ratingBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 2rem;
    height: 2rem;
    color: var(--accent-100);
  }
}

.title {
  font-size: 3.6rem;
  font-weight: 500;
}

.scoreAndYearBox {
  display: flex;
  align-items: center;
  gap: 2rem;

  font-size: 2rem;
}

.form {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.formRow:not(:last-child) {
  margin-bottom: 2rem;
}

.formOptionName {
  flex: 1;

  font-size: 1.8rem;
}

.formOptionOption {
  flex: 1;
}

.formBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
}

.movieEpisodes {
  flex: 1;
  min-height: 25rem;

  display: flex;
  flex-direction: column;
}

.seasonsRows {
  max-height: 31rem;
  padding-right: 10px;

  overflow: auto;
}

.seasonsRows::-webkit-scrollbar {
  width: 10px;
}

.seasonsRows::-webkit-scrollbar-track {
  background-color: var(--background-200);
}

.seasonsRows::-webkit-scrollbar-thumb {
  background-color: var(--background-300);
}

.episodesRow {
  display: flex;
  flex-direction: column;

  font-size: 2rem;
}

.episodesRow:not(:last-child) {
  margin-bottom: 1rem;
}

.rowHeader {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  background-color: var(--background-200);

  border-bottom: 2px solid var(--background-100);
  cursor: pointer;

  &:hover .iconArrow {
    color: var(--accent-100);
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .icon {
    width: 3rem;
    height: 3rem;

    transition: var(--transition-all);
  }
}

.episodes {
  background-color: var(--background-200);

  display: none;
  padding: 1rem 2rem;
}

.episodesActive {
  display: block;
}

.episodeRow {
  display: flex;
  gap: 2.5rem;

  background-color: var(--background-100);
  padding: 1rem;

  border-radius: var(--border-radius-sm);
}

.episodeImage {
  width: 5rem;
  height: 5rem;
}

.divBox {
  display: flex;
  justify-content: space-between;

  flex: 1;
  font-size: 1.5rem;

  .icon {
    width: 3.2rem;
    height: 3.2rem;
    align-self: center;
    cursor: pointer;

    transition: var(--transition-all);
  }
}

.episodeInformations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconCheck:hover {
  color: var(--accent-100);
}
