.rows {
  display: flex;
  flex-direction: column;

  gap: 5rem;

  max-width: 164rem;
  width: 100%;
  padding: 0 1.5rem;
  margin: 10rem auto 5rem;
}

.rowCol_2 {
  display: flex;
  font-size: 2rem;
  gap: 5rem;

  & > div {
    flex: 1;
    align-self: start;
  }
}

.networkImage {
  width: 12rem;
}

@media only screen and (max-width: 67.8125em) {
  .rowCol_2 {
    flex-direction: column;
    font-size: 1.8rem;
  }
}
