.main {
  display: flex;

  gap: 2.5rem;
}

.imageBox {
  flex: 0 0 25rem;
}

.image {
  width: auto;
}

.movieInformations {
  flex: 1;
  min-height: 25rem;

  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  font-size: 1.8rem;

  margin-bottom: 2rem;
}

.title {
  font-size: 3.6rem;
  font-weight: 500;
}

.scoreAndYearBox {
  display: flex;
  align-items: center;
  gap: 2rem;

  font-size: 2rem;
}

.form {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.formRow:not(:last-child) {
  margin-bottom: 2rem;
}

.formOptionName {
  flex: 1;

  font-size: 1.8rem;
}

.formOptionOption {
  flex: 1;
}

.formBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
}

@media only screen and (max-width: 42.5em) {
  .imageBox {
    flex: 0 0 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 35.9375em) {
  .main {
    flex-direction: column;
  }

  .image {
    width: 15rem;
  }
}

@media only screen and (max-width: 29.375em) {
  .details {
    font-size: 1.6rem;
  }

  .form {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 23.125em) {
  .formRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .formRow:not(:last-child) {
    margin-bottom: 1rem;
  }

  .movieInformations {
    padding: 0 1rem;
  }
}
