.searchResults {
  position: absolute;
  left: 0;
  bottom: -12px;
  left: 50%;

  transform: translate(-50%, 100.5%);

  padding: 1rem 1rem;
  width: clamp(55.2rem, 100%, 100%);

  max-height: 44.95rem;
  overflow: auto;

  box-shadow: var(--shadow-md);

  color: var(--text-300);
  background-color: var(--background-300);

  border-radius: var(--border-radius-md);
}

.searchResults::-webkit-scrollbar {
  width: 10px;
}

.searchResults::-webkit-scrollbar-track {
  background-color: var(--background-200);
}

.searchResults::-webkit-scrollbar-thumb {
  background-color: var(--accent-100);
  border-radius: var(--border-radius-md);
}

@media only screen and (max-width: 75em) {
  .searchResults {
    position: relative;

    transform: translate(0, 5px);
  }
}

@media only screen and (max-width: 35.9375em) {
  .searchResults {
    display: none;
  }
}
