.list_container {
  display: grid;

  padding: 3rem 2.5rem;

  grid-template-columns: 32rem 1fr;
  column-gap: 2.5rem;
}

.filter_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter_name {
  font-size: 1.6rem;
}

.watchProviders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;

  margin-top: 1rem;
}
