.filter {
  position: relative;
}

.filterButton {
  outline: none;
  border: none;

  background-color: var(--background-200);

  width: 12.5rem;
  padding: 0.75rem 1.25rem;

  border-radius: var(--border-radius-tiny);

  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterButton:hover {
  background-color: var(--background-300);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;

  color: var(--accent-100);
}
