:root {
  --primary-100: #0078d4;
  --primary-200: #0894ff;
  --primary-300: #3baaff;
  --accent-100: #ffc107;
  --accent-200: #ffca2c;
  --accent-300: #ffd451;
  --accent-400: #ffdd77;
  --background-100: #000d17;
  --background-200: #001b31;
  --background-300: #002a4a;
  --text-100: #fafcfe;
  --text-200: #e5effa;
  --text-300: #d0e3f6;

  --background-opacity-50-100: #000d1780;

  --background-opacity-60-100: #000d1799;

  --background-opacity-75-100: #000d17bf;

  --color-red-1: #fee2e2;
  --color-red-2: #b91c1c;
  --color-red-3: #991b1b;

  --color-white: #fff;
  --color-black: #000;

  --color-indigo-1: #3730a3;

  --color-cyan-1: #164e63;

  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --shadow-tiny: 0 0 0 rgba(0, 0, 0, 0.06);
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.15);

  --border-radius-tiny: 3px;
  --border-radius-sm: 6px;
  --border-radius-md: 9px;
  --border-radius-lg: 12px;
  --border-radius-round: 50%;
  --border-radius-huge: 100rem;

  --font-poppins: "Poppins", "Roboto", "Lato", sans-serif;
  --font-roboto: "Roboto", "Poppins", "Lato", sans-serif;
  --font-lato: "Lato", "Poppins", "Robot", sans-serif;

  --transition-all: all 0.4s;

  --navbar-height: 62px;

  --bp-1500: 93.75em;
  --bp-1300: 81.25em;
  --bp-1250: 78.125em;
  --bp-1200: 75em;
  --bp-1085: 67.8125em;

  --bp-1020: 63.75em;

  --bp-975: 60.9375em;
  --bp-880: 55em;
  --bp-860: 53.75em;
  --bp-820: 51.25em;

  --bp-750: 46.875em;
  --bp-690: 43.125em;
  --bp-680: 42.5em;
  --bp-580: 36.25em;
  --bp-575: 35.9375em;
  --bp-500: 31.25em;
  --bp-470: 29.375em;
  --bp-420: 26.25em;
  --bp-375: 23.125em;
  --bp-345: 21.5625em;
}

body[data-theme="light"] {
  --primary-100: #005a9e;
  --primary-200: #0078d4;
  --primary-300: #3baaff;

  --accent-100: #ff9800;
  --accent-200: #ffb300;
  --accent-300: #ffca2c;
  --accent-400: #ffd77d;

  --background-100: #d4dae1;
  --background-200: #c2cbd4;
  --background-300: #b1bbc6;

  --text-100: #1a1a1a;
  --text-200: #333333;
  --text-300: #4d4d4d;

  --background-opacity-50-100: #d4dae180;
  --background-opacity-60-100: #d4dae199;
  --background-opacity-75-100: #d4dae1bf;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  transition: background-color 0.4s;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;

  display: inline-block;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--background-200);
  color: var(--text-100);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
  outline-offset: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 51.25em) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;

  color: var(--text-100);
  background-color: var(--background-100);

  min-height: 100dvh;
}

a.active:link,
a.active:visited {
  color: var(--accent-100) !important;
  border-bottom: 2px solid var(--accent-100) !important;

  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  transition: var(--transition-all);
}

a.active:hover,
a.active:active {
  color: var(--accent-300) !important;
  border-bottom: 2px solid var(--accent-300) !important;
}

a.active::after {
  content: none;
}

a.active:hover::after {
  content: none;
}

.horizontal-slider-years {
  width: 100%;
  max-width: 500px;
  height: 50px;

  .slider-track {
    background: var(--accent-100);
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
  }

  .slider-track-0 {
    background: var(--text-100);
  }

  .slider-track-2 {
    background: var(--text-100);
  }

  .slider-thumb {
    top: 50%;
    width: 55px;
    height: 32.5px;

    border-radius: var(--border-radius-md);

    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    text-align: center;
    background-color: var(--background-300);

    color: white;
    cursor: pointer;
    box-sizing: border-box;
  }

  .slider-thumb-0 {
    z-index: 4;
  }

  .slider-thumb-1 {
    z-index: 5;
  }
}

.horizontal-slider-rating {
  width: 100%;
  max-width: 44rem;
  height: 50px;

  .slider-track {
    background: var(--accent-100);
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    margin: 0 1px;

    border-radius: var(--border-radius-lg);
  }

  .slider-track-0 {
    background: var(--text-100);
  }

  .slider-track-2 {
    background: var(--text-100);
  }

  .slider-thumb {
    top: 50%;
    width: 35px;
    height: 35px;

    border-radius: var(--border-radius-round);

    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--background-300);

    color: white;
    cursor: pointer;
    box-sizing: border-box;
  }

  .slider-thumb-0 {
    z-index: 4;
  }

  .slider-thumb-1 {
    z-index: 5;
  }

  .slider-mark {
    margin-left: 10px;

    top: 50%;
    transform: translateY(-50%);

    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-round);

    background-color: var(--background-300);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.carousel-item-cast {
  padding: 0 1rem;
}

.react-multiple-carousel__arrow {
  background: var(--accent-100);
}

.react-multiple-carousel__arrow:hover {
  background: var(--accent-200);
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px);
}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px);
}

.react-multiple-carousel__arrow::before {
  color: var(--background-100);
  font-size: 22px;
  font-weight: 700;
}
