.movieHero {
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover !important;
  background-position: top !important;

  min-height: 75dvh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;
  gap: 5rem;
  width: clamp(50rem, 100%, 100rem);

  font-size: 1.8rem;
}

.image {
  border-radius: var(--border-radius-sm);
  height: 50rem;
}

.ratingBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.informationsContainer {
  display: flex;
  flex-direction: column;
}

.informationsHeader {
  display: flex;
  align-items: center;

  .title {
    font-size: 5.4rem;
  }
}

.additionalInformationsContainer {
  margin-bottom: 1.5rem;
  .additionalInformations {
    font-weight: 500;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.totalRates {
  font-size: 1.8rem;
}

.description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.buttons {
  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 46.875em) {
  .hero {
    flex-direction: column;
    gap: 1.5rem;
    font-size: 2rem;
  }

  .description {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .image {
    width: 35rem;
    height: auto;
  }
}

@media only screen and (max-width: 29.375em) {
  .hero {
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.7rem;
  }

  .image {
    width: 35rem;
    height: auto;
  }
}
