.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  padding: 1rem 2rem;

  background-color: var(--background-100);
}

.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;

  flex: 1;
}
