.heroContainer {
  height: calc(100dvh - var(--navbar-height));
}

.hero {
  min-height: 100%;

  position: relative;
}

.dots {
  display: flex;
  gap: 1.5rem;

  position: absolute;
  bottom: 5%;
  right: 5%;

  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.dot {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  background-color: var(--background-200);
  border-radius: 50%;

  transition: var(--transition-all);
}

.dot:hover {
  background-color: var(--background-300);
}

.dotActive {
  background-color: var(--accent-100);
}

.dotActive:hover {
  background-color: var(--accent-100);
}

.heroItem {
  max-width: 100%;
  width: 100%;
  min-height: 100%;

  position: absolute;
  z-index: 2;

  display: flex;
}

.background {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -2;

  top: 0;
  left: 0;

  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}

.heroInformations {
  font-size: 2rem;

  max-width: 60ch;
  display: flex;
  overflow: hidden;
}

.movieLink {
  align-self: center;
  margin-left: 5rem;
}

.title {
  font-size: 9.2rem;
  font-weight: 500;
  color: var(--accent-100);
}

.ratingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.ratingMovie {
  display: flex;

  align-items: center;
  gap: 2.5rem;
  font-size: 2.2rem;

  svg {
    color: var(--accent-100);
    width: 2rem;
    height: 2rem;
  }
}

.genres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 1rem;

  font-size: 1.8rem;

  margin-bottom: 2rem;
}

.genre {
  display: inline-block;
  font-weight: 400;
}

.description {
  font-size: 1.7rem;
  font-weight: 400;
}
