.network {
  width: 12.5rem;
}

.notify {
  text-align: center;
  margin-top: 2.5rem;
}

.providers {
  margin-top: 2.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10rem;

  row-gap: 1rem;
}

.provider {
  display: grid;
  grid-template-columns: max-content 1fr;

  align-items: center;

  gap: 2rem;
}

.provider_title {
  writing-mode: vertical-rl;
  rotate: 180deg;
  border-radius: var(--border-radius-tiny);

  padding: 1rem 0.1rem;
  background-color: var(--primary-100);

  height: 100%;

  text-align: center;
}

.provider_list {
  display: flex;

  gap: 2rem;

  .provider_item {
    img {
      border-radius: 2rem;
      max-width: 6rem;
    }
  }
}
