.row {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin: 4rem 5rem 8rem;
}

.rowTitle {
  font-size: 3.4rem;
  font-weight: 500;
}

:global(.slick-track) {
  display: flex;
  gap: 1.5rem;
}

:global(.slick-prev) {
  left: -36px;
}

:global(.slick-next) {
  right: -28px;
}

:global(.slick-prev::before) {
  color: var(--accent-100);

  transition: var(--transition-all);
  font-size: 3.2rem;
}

:global(.slick-next::before) {
  color: var(--accent-100);

  transition: var(--transition-all);
  font-size: 3.2rem;
}

@media only screen and (max-width: 93.75em) {
  .row {
    margin: 4rem 5rem;
  }
}

@media only screen and (max-width: 81.25em) {
  .rowTitle {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 78.125em) {
  .rowTitle {
    text-align: center;
    font-size: 4.2rem;
  }

  .row {
    margin: 4rem 5rem 10rem;
  }
}
