.row {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin: 4rem 5rem 8rem;
}

.rowTitle {
  font-size: 4.2rem;
  font-weight: 500;
}

:global(.slick-track) {
  display: flex;
  gap: 1rem;
}

:global(.slick-arrow::before) {
  font-size: 4.2rem;
  color: var(--accent-100);

  transition: var(--transition-all);
  z-index: 1000;
}

:global(.slick-prev) {
  left: -45px;
}

:global(.slick-next) {
  right: -25px;
}

@media only screen and (max-width: 93.75em) {
  .row {
    margin: 4rem 5rem;
  }
}

@media only screen and (max-width: 81.25em) {
  .rowTitle {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 78.125em) {
  .rowTitle {
    text-align: center;
    font-size: 4.2rem;
  }

  .row {
    margin: 4rem 5rem 10rem;
  }
}

@media only screen and (max-width: 35.9375em) {
  .rowTitle {
    line-height: 1.1;
    font-size: 3.6rem;
  }
  .row {
    margin: 4rem 1.5rem 4rem 1rem;
  }
}

@media only screen and (max-width: 23.125em) {
  .row {
    margin: 4rem 1rem 4rem 1rem;
  }
}
