.search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 70rem;
  width: 100%;
  min-width: 35rem;

  .searchBox {
    position: relative;
    width: 100%;
  }

  .searchInput {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;

    padding: 0.5rem 5rem 0.5rem 5rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);

    color: var(--text-200);
    background-color: var(--background-200);

    font-size: 1.6rem;

    width: 100%;

    transition: var(--transition-all);

    &::placeholder {
      color: var(--color-grey-400);
    }

    &:focus {
      background-color: var(--background-300);
    }

    &:focus::placeholder {
      color: var(--color-grey-300);
    }
  }

  .searchIcon {
    color: var(--text-200);
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 10px;

    z-index: 1;

    width: 2.8rem;
    height: 2.8rem;

    transform: translateY(-50%);

    transition: var(--transition-all);

    &:hover,
    &:active {
      color: var(--accent-100);
    }
  }

  .clearIcon {
    color: var(--text-200);

    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    z-index: 1;

    width: 2.4rem;
    height: 2.4rem;

    transform: translateY(-50%);

    transition: var(--transition-all);

    &:hover,
    &:active {
      color: var(--accent-100);
    }
  }
}

.btn {
  display: inline-block;
  background: none;
  outline: none;
  border: none;
}

@media only screen and (max-width: 75em) {
  .search {
    margin-top: 1.5rem;

    .searchInput {
      font-size: 2rem;
      min-width: 45rem;
    }

    .clearIcon {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@media only screen and (max-width: 29.375em) {
  .search {
    .searchInput {
      font-size: 1.6rem;
      min-width: 100%;
    }

    .searchIcon {
      width: 2.6rem;
      height: 2.6rem;
    }

    .clearIcon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
